.main-bodys {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-specifc-post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  margin: 20px auto;
  background-color: rgb(19, 156, 202);
  border-radius: 20px;
  padding: 20px;
}

.specific-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  margin: 20px auto;
  background-color: rgb(19, 156, 202);
  border-radius: 20px;
  padding: 20px;
}

.specific-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.specific-submit-button {
  width: 60%;
  height: 100%;
  font-size: 20px;
  padding: 0.5rem;
  background-color: lightblue;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  margin: 20px;
}
