* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.HeaderComponent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: lightblue;
}

.auth-button {
  margin: 20px;
  padding: 10px;
}

.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-account-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}
