* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.main-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.HeaderComponent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(19, 156, 202);
}

.auth-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.auth-button {
  padding: 10px;
  background-color: lightblue;
  border-radius: 20px;
  cursor: pointer;
  font-size: 30px;
  border: none;
}

.profile-button {
  margin: 20px;
  padding: 10px;
  background-color: lightblue;
  border-radius: 20px;
  border: none;
}

.cl-avatarBox {
  width: 40px;
  height: 40px;
}

.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-account-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

label {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
}
