* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.main-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.HeaderComponent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(19, 156, 202);
}

.auth-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.auth-button {
  padding: 10px;
  background-color: lightblue;
  border-radius: 20px;
  cursor: pointer;
  font-size: 30px;
  border: none;
}

.profile-button {
  margin: 20px;
  padding: 10px;
  background-color: lightblue;
  border-radius: 20px;
  border: none;
}

.cl-avatarBox {
  width: 40px;
  height: 40px;
}

.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-account-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

label {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
}

label,
textarea,
input {
  padding: 20px;
  border-radius: 20px;
  border: none;
}

.posts-container {
  background-color: rgb(19, 156, 202);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 20px;
}

.all-posts-title {
  font-size: 40px;
  margin: 20px;
}

.all--posts-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 600px;
  overflow-y: auto;
  padding: 1rem;
  box-sizing: border-box;
}

.post-template {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
}

.view-post-btn {
  padding: 10px;
  background-color: lightblue;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.create-a-post-conatiner {
  background-color: rgb(19, 156, 202);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 20px;
}

.create-a-post-btn {
  padding: 10px;
  background-color: lightblue;
  border-radius: 20px;
  cursor: pointer;
  margin: 20px;
  border: none;
}

li {
  font-size: 20px;
}

.post-desc,
.post-creator {
  font-size: 20px;
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 3em;
  text-align: center;
  color: rgb(119, 4, 4);
}
