.specific-post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  margin: 20px auto;
  border-radius: 20px;
  padding: 20px;
}

.specific-post-title {
  font-size: 40px;
}

.main-post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  margin: 20px auto;
  background-color: rgb(19, 156, 202);
  border-radius: 20px;
  padding: 20px;
}

.comments-conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  margin: 20px auto;
}

.comment-template {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  margin: 20px auto;
  background-color: rgb(19, 156, 202);
  border-radius: 20px;
  padding: 20px;
}

.edit-post-button {
  width: 60%;
  height: 100%;
  font-size: 20px;
  padding: 0.5rem;
  background-color: lightblue;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  margin: 20px;
}

.post-edit-delete-btn-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
