.specific-post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  margin: 20px auto;
  border-radius: 20px;
  padding: 20px;
}

.specific-post-title {
  font-size: 4vh;
}

.main-post-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  margin: 20px auto;
  background-color: rgb(19, 156, 202);
  border-radius: 20px;
  padding: 20px;
}

.specific-post-details-container {
  overflow-y: auto;
  height: 150px;
}

.comments-conatiner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 500px;
  width: 90%;
  margin: 20px auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.comment-template {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 20vh;
  width: 90%;
  margin: 20px auto;
  background-color: rgb(19, 156, 202);
  border-radius: 20px;
  padding: 20px;
}

.edit-post-button {
  width: 60%;
  height: 100%;
  font-size: 2vh;
  padding: 0.5rem;
  background-color: lightblue;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  margin: 20px;
}

.post-edit-delete-btn-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.comments-form-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 156, 202);
  flex-direction: column;
  text-align: center;
  padding: 20px;
  width: 80%;
  border-radius: 20px;
}

.comments-form-groups {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.comments-submit-buttons {
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin: 20px;
}

@media (max-width: 500px) {
  .main-post-container {
    display: flex;
    flex-direction: column;
    font-size: 1vh;
  }
}
