.edit-post-containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 40px;
}

.form-wrappers {
  background-color: rgb(19, 156, 202);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 20px;
  font-size: 30px;
  padding: 20px;
  width: 80%;
}

.form-containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 20px;
}

textarea {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.submit-button {
  width: 60%;
  height: 100%;
  font-size: 20px !important;
  padding: 0.5rem;
  background-color: lightblue;
  border-radius: 20px;
  cursor: pointer;
  font-size: 30px;
  border: none;
  margin: 0.5rem;
}

.edit-post-input,
label,
textarea,
input {
  padding: 20px;
  border-radius: 20px;
  border: none;
}
