.specific-user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  margin: 20px auto;
  border-radius: 20px;
  padding: 20px;
}

.specific-user-profile-name {
  font-size: 4vh;
}

.specific-user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  margin: 20px auto;
  background-color: rgb(19, 156, 202);
  border-radius: 20px;
  padding: 20px;
}

.specific-user-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 90%;
  margin: 20px auto;
  border-radius: 20px;
  padding: 20px;
  overflow-y: auto;
}

.specific-post-content-container {
  overflow-y: auto;
  height: 200px;
}

.specific-user-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  width: 90%;
  margin: 20px auto;
  background-color: rgb(19, 156, 202);
  border-radius: 20px;
  padding: 20px;
}

.follow-btn {
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin: 20px;
  background-color: #add8e6;
}
