.posts-container {
  background-color: rgb(19, 156, 202);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 20px;
}

.all-posts-title {
  font-size: 40px;
  margin: 20px;
}

.all--posts-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-template {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
}

.view-post-btn {
  padding: 10px;
  background-color: lightblue;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.create-a-post-conatiner {
  background-color: rgb(19, 156, 202);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 20px;
}

.create-a-post-btn {
  padding: 10px;
  background-color: lightblue;
  border-radius: 20px;
  cursor: pointer;
  margin: 20px;
  border: none;
}

li {
  font-size: 20px;
}

.post-desc,
.post-creator {
  font-size: 20px;
}
