.main-bodys {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-form-containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  margin: 20px auto;
  background-color: rgb(19, 156, 202);
  border-radius: 20px;
  padding: 20px;
}

.form-wrappers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
}

.form-containers,
.form-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
}

.form-headers {
  font-size: 4vh;
}

.form-groups {
  font-size: 3vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  width: 100%;
  height: 100%;
  font-size: 2vh;
  padding: 0.5rem;
}

.submit-buttons {
  width: 30%;
  height: 100%;
  font-size: 3vh;
  padding: 0.5rem;
  background-color: lightblue;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}
